<?xml version="1.0" encoding="UTF-8"?>

<!-- 마이바티스 3 Mapper DOCTYPE -->
<!DOCTYPE mapper
	PUBLIC "=//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	
<mapper namespace="web.dao.face.BoardDao">

	<select id="selectAll" parameterType="web.util.Paging" resultType="web.dto.Board">
		SELECT * FROM (
			SELECT rownum rnum, B.* FROM(
				SELECT
				board_no, title, content, writer_id, writer_nick, hit, write_date FROM board
				ORDER BY board_no DESC
			) B
		ORDER BY rnum
		)
		WHERE rnum BETWEEN #{startNo} AND #{endNo}
	</select>

	<select id="selectCntAll" resultType="int">
		SELECT COUNT(*) FROM board
	</select>
	
	<select id="selectBoardByBoardno" parameterType="int" resultType="web.dto.Board" >
		SELECT board_no, title, writer_id, writer_nick, content, hit, write_date FROM board
		WHERE board_no=#{board_no}
	</select>

	<update id="hit" parameterType="int">
		UPDATE board
		SET hit=hit+1
		WHERE board_no=#{board_no}
	</update>
	
	<insert id="insertWrite" parameterType="web.dto.Board" >
		INSERT INTO board(board_no, title, content, writer_id, writer_nick, hit, write_date)
		VALUES (board_seq.nextval, #{title}, #{content}, #{writer_id}, #{writer_nick}, #{hit}, sysdate)
	</insert>
	
	<update id="updateBoard" parameterType="web.dto.Board">
		UPDATE board
		SET content= #{content},
		title = #{title}
		WHERE board_no = #{board_no}
	</update>
	
	<delete id="deleteBoard" parameterType="web.dto.Board">
		DELETE board
		WHERE board_no = #{board_no}
	</delete>
	
	<insert id="insertRecommend" parameterType="web.dto.Recommend">
		INSERT INTO recommend(writer_id, board_no)
		VALUES( #{writer_id}, #{board_no} )
	</insert>
	
	<delete id="deleteRecommend" parameterType="web.dto.Recommend">
		DELETE recommend
		WHERE writer_id = #{writer_id} and board_no = #{board_no}
	</delete>
	
	<select id="selectMyCntRecommend" parameterType="web.dto.Recommend" resultType="int">
		SELECT COUNT(*) FROM recommend
		WHERE writer_id = #{writer_id} and board_no = #{board_no}
	</select>
	
	<select id="selectCntRecommend"></select>
	
</mapper>